.content {
  width: 1900px;
  margin-left: auto;
  margin-right: auto;
}
.menu-list {
  /* margin-top: 38px; */
  height: 69px;
  display: flex;
  justify-content: space-between;
  background-color: #313131;
}
.head-centr-menu {
  display: flex;
  text-align: center;
}
.block-logo {
  display: flex;
  justify-content: space-between;
}
.logo {
  margin-top: 22px;
  margin-left: 29px;
  width: 27px;
  height: 27px;
  left: 13px;
  top: 22px;
}
.logo-name {
  margin-top: 22px;
  margin-left: 27px;
  width: 124px;
  height: 26px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}
.menu-item {
  margin-right: 34px;
  display: flex;
  align-items: center;
}
.menu-item:hover .item-text {
  color: #14b9d5;
}
.item-text {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
.search {
  display: flex;
  align-items: center;
  background-color: #000000;
  width: 70px;
}
.search-img {
  padding: 25px;
}
.title {
  background-image: url(../img/header-bgn.png);
  width: 1900px;
  height: 369px;
  display: flex;
  justify-content: center;
}
.header-title {
  margin-top: 164px;
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #ffffff;
}
.btn {
  width: 170px;
  height: 55px;
  margin-top: 44px;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}
.btn-grin {
  margin-left: 190px;
  background: #89ca62;
}
.btn-blu {
  background: #14b9d5;
}
.container {
  width: 1900px;
  height: 1030;
  background-color: #f2f2f2;
}
h5 {
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #353a3d;
  padding: 20px;
  background-color: #ffffff;
}
.section-title {
  padding-top: 49px;
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: #18b4cf;
}

.photo-most {
  margin-top: 52px;
  margin-left: 370px;
  margin-right: 360px;
  width: 200px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.main-menu {
  background-image: url(../img/main-bgn.png);
  width: 1900px;
  height: 588px;
  display: flex;
  justify-content: center;
}
.main-title {
  margin-top: 106px;
  font-family: Open Sans, sans-serif;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-transform: uppercase;
  color: #ffffff;
}
.maim-title-s {
  display: flex;
}
.maim-title-sqr {
  display: flex;
  margin-top: 106px;
  justify-content: center;
  padding: 58px;
}
.title-photo-fe {
  margin-right: 24px;
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: end;
  color: #353a3d;
  margin-top: 41px;
  margin-bottom: 15px;
}
.cotainer-white {
  width: 1900px;
  height: 1683px;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.0001);
}
.photo-line {
  margin-top: 52px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.description {
  margin-right: 24px;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #5b6469;
}
.hot-nems {
  margin-left: 373px;
  margin-right: 361px;
  height: 1683px;
}
.el {
  margin-top: 51px;
  display: grid;
  align-items: start;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2vw;
  grid-template-areas:
    "el1 el1 el1 el1 el2 el2"
    "el3 el3 el3 el4 el4 el4"
    "el3 el3 el3 el4 el4 el4"
    "el5 el5 el5 el6 el6 el6"
    "el5 el5 el5 el6 el6 el6"
    "el7 el7 el8 el8 el8 el8";
}
.el1 {
  height: 259px;
  width: 856px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-area: el1;
  background: #f9f7f7;
}
.el2 {
  height: 259px;
  width: 277px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 35px;
  grid-area: el2;
  background: #f9f7f7;
}
.el3 {
  width: 554px;
  grid-area: el3;
  background: #f9f7f7;
}
.el4 {
  width: 554px;
  grid-area: el4;
  background: #f9f7f7;
}
.el5 {
  width: 554px;
  grid-area: el5;
  background: #f9f7f7;
}
.el6 {
  width: 554px;
  grid-area: el6;
  background: #f9f7f7;
}
.el7 {
  width: 277px;
  grid-area: el7;
  background: #f9f7f7;
}
.el8 {
  width: 857px;
  margin-left: -88px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-area: el8;
  background: #f9f7f7;
}
.title-photo-ce {
  margin-right: 24px;
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: end;
  color: #353a3d;
  margin-top: 14px;
  margin-bottom: 15px;
}
.end-menu {
  margin-top: -120px;
  width: 1900px;
  height: 80px;
  background: #000000;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.title-end {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.p-end {
  font-family: Open Sans, sans-serif;
  margin-left: 367px;
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
}
.logo-and {
  width: 105px;
  height: 24px;
  margin-left: 600px;
}
